<h1>Edit <%= @book.name %></h1>
<br>
<br>
<form action="/books/<%= @book.id %>" method="POST">
  <label>Book Name</label>
  <input type="text" name="name" value="<%=@book.name %>" required> </br>

  <label>Book Author</label>
  <input type="text" name="author" value="<%=@book.author%>" required> </br>

  <label>Book Genre</label>
  <input type="text" name="genre" value="<%=@book.genre%>"> </br>

  <label>Your Rating</label>
  <input type="text" name="rating" value="<%=@book.rating%>"> </br>


  <button type="submit" value="Update">Update</button>
</form>

<br>
<br>

<form method="post" action="/books/<%= @book.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>
