<h3>Name: <%= @book.name %><br /></h3>
Author: <%= @book.author %> <br />
Genre: <%= @book.genre %> <br />
Rating: <%= @book.rating %> <br />


<a href="/books/<%= @book.id %>/edit"><button type="submit">Edit</a></button>

<form method="post" action="/books/<%= @book.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>
